@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(246, 246, 246, 0.733);
}

.font-formatted-1 {
  font-family: "Roboto", sans-serif;
}

.font-formatted-2 {
  font-family: "Oswald", sans-serif;
}

.divider-grey {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5rem;
  width: 50px;
  border-top: 2px solid rgb(54, 54, 54);
  padding-bottom: 1rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: auto auto;
}

.background-fit {
  background-size: contain;
}

.about span:nth-child(1) {
  grid-column: 1/2;
  grid-row: 1;
  z-index: 1;
}
.about span:nth-child(2) {
  grid-column: 2/2;
  grid-row: 1;
}

.nav-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: auto auto;
  box-shadow: 0px 5px 10px rgb(218, 218, 218);
  -webkit-transition: ease-in-out;
  -webkit-transition: -webkit-transform 2s;
  transition: all 2s;
}

.container-item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.menu-button {
  width: 30px;
  height: 4px;
  background-color: rgb(54, 54, 54);
  margin: 4px 0;
  -webkit-transition: ease-in;
  -webkit-transition: -webkit-transform 2s;
  transition: all 2s;
}

#hidden-item {
  display: none;
}

.transitions {
  -webkit-transition: ease-in-out;
  -webkit-transition: -webkit-transform 2s;
  transition: all 2s;
}

.container-item img {
  width: 50px;
  height: 60px;
}

.space-between {
  padding: 5px;
}

@media only screen and (max-width: 450px) {
  .name-heading {
    font-size: 1.2rem;
  }

  #lan-title {
    z-index: 2;
  }

  #lan-desc {
    z-index: 2;
  }

  #lan-title > h1 {
    font-size: 3rem;
  }

  span p {
    font-size: x-small;
  }

  .nav-container > .container-item {
    padding: 1.5rem;
  }

  .nav-container {
    padding: 0 0rem 0 0rem;
  }

  .container-item > h1 {
    font-size: 0.8rem;
    font-weight: 900;
    -webkit-transition: ease-in-out;
    -webkit-transition: -webkit-transform 1s;
    transition: all 1s;
  }

  .container-item img {
    width: 30px;
    height: 35px;
    -webkit-transition: ease-in-out;
    -webkit-transition: -webkit-transform 1s;
    transition: all 1s;
  }

  .menu-button {
    width: 25px;
    height: 3.5px;
    background-color: rgb(54, 54, 54);
    margin: 5px 0;
  }

  .grid-container {
    margin: 1.3rem;
    padding: 3rem;
    background: rgba(255, 255, 255, 0.465);
    border-radius: 30px;
    box-shadow: 10px 10px 10px rgb(218, 218, 218);
    transition: cubic-bezier(1, 0, 0, 1);
    column-gap: 20px;
    -webkit-transition: ease-in-out;
    -webkit-transition: -webkit-transform 1s;
    transition: all 1s;
  }

  .divider-grey {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
    width: 30px;
    border-top: 2px solid rgb(54, 54, 54);
    padding-bottom: 1rem;
  }

  .bg-formatted {
    background-origin: content-box;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* filter: blur(8px); */
    /* -webkit-filter: blur(8px); */
  }
}
